@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 53 27% 94%; /* Light beige #F2F1EB */
    --foreground: 240 10% 3.9%; /* Default dark foreground */

    --card: 53 27% 94%; /* Match background */
    --card-foreground: 240 10% 3.9%;

    --popover: 53 27% 94%; /* Match background */
    --popover-foreground: 240 10% 3.9%;

    --primary: 227 100% 40%; /* Soft Olive Green (actually blue) #0030cf */
    --primary-foreground: 0 0% 98%; /* Light text on primary */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 20 80% 53%; /* Dusty Gold #e65f29 */
    --accent-foreground: 0 0% 100%; /* White text on accent */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 227 100% 40%; /* Match primary for focus rings */

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 227 100% 50%; /* Adjusted for dark mode */
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 20 80% 63%; /* Adjusted for dark mode */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 227 100% 50%; /* Match primary for focus rings */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
